[Unit]
Description=GhostWhisperChat Daemon
After=graphical-session.target

[Service]
Type=simple
# Esperar 5s para asegurar que el entorno grafico este listo (Fix race condition al boot)
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/gwc --start
Restart=always
RestartSec=10
# FIX v2.155: Remove hardcoded DISPLAY to allow multi-seat/multi-user GUI (e.g. :1 for Alex)
# Environment=DISPLAY=:0

[Install]
WantedBy=default.target
