Package: ghostwhisperchat
Version: 2.153.19
Section: net
Priority: optional
Architecture: all
Depends: python3, python3-cryptography, libnotify-bin, portaudio19-dev, python3-pyaudio, vorbis-tools, zenity, xterm, pulseaudio-utils
Maintainer: Omar Saez <omarsaez@ghostwhisper.chat>
Description: GhostWhisperChat - Chat P2P Local Seguro (Edición Hacker)
 Sistema de chat descentralizado con cifrado E2E, transferencia de archivos,
 llamadas de voz, y descubrimiento automático en LAN.
